.applications-section{
    @media screen and (max-width: 1199px) {
        display: none;
    }

    @extend %section;   
    padding-top: 0;

    &__container{
        @extend %container;
    }

      &__list {
        display: flex;
     }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    
    &__title {
       @extend %title;
    }
}
.applications-product {
    position: relative;

    &__img {
        display: block;
    }

    &__title {
        @include flexPosition();
        position: absolute;
        width: 370px;
        height: 70px;
        left: 0;
        bottom: 0;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-txcolor;
        background-color: rgba(47, 48, 58, 0.8);
    }

    
}