$primery-txcolor: #757575;
$accent-color: #2196f3;
$logo-color: #000000;
$white-txcolor: #ffffff;
$title-txcolor: #212121;
$another-txcolor: rgba(255, 255, 255, 0.6);

$primery-bgcolor: E5E5E5;
$secondary-bgcolor: #2f303a;
$accent-bgcolor: #f5f4fa;
$btn-hover-color: #188ce8;
$svg-bgcolor: #afb1b8;

$primery-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

$function-animation: cubic-bezier(0.4, 0, 0.2, 1);

